@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

$color-green: #2ecc71;
$color-red: #c0392b;
$color-btn: #9c88ff;
$color-btn-hover: #7465be;
$base-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
0 1px 2px rgba(0, 0, 0, 0.24);

* {
	box-sizing: border-box;
}

html {
	font-size: 12px;
}

body {
	background-color: #f7f7f7;
	min-height: 100vh;
	margin: 0;
	font-family: 'Lato', sans-serif;

	h1 {
		letter-spacing: 1px;
		margin: 0;
	}

	h2 {
		margin: 1.7rem;
	}

	h3 {
		border-bottom: 1px solid #bbb;
		padding-bottom: 0.8rem;
		margin: 0 0 10px;
	}

	h4 {
		margin: 0;
		text-transform: uppercase;
	}

	.container {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(5, 1fr);
		margin: 1.25rem 1.25rem;

		.account {
			grid-column: 1 / 1;
			grid-row: 1 / 1;
			max-height: 40vh;

			.balance {
				background-color: #fff;
				box-shadow: $base-shadow;
				padding: 2.5rem;
				text-align: center;
			}

			.inc-exp-container {
				background-color: #fff;
				box-shadow: $base-shadow;
				padding: 1.7rem;
				display: flex;
				justify-content: space-between;
				border-top: 1px solid #dedede;

				.inc-exp-container>div {
					flex: 1;
					text-align: center;
				}

				.inc-exp-container>div:first-of-type {
					border-right: 1px solid #dedede;
				}

				.money {
					font-size: 1.7rem;
					letter-spacing: 1px;
					margin: 5px 0;
				}

				.money.plus {
					color: $color-green;
				}

				.money.minus {
					color: $color-red;
				}
			}
		}

		.history {
			grid-column: 1 / 1;
			grid-row: 5 / -1;
			padding: 5px;
			margin: 0 1.7rem;
			overflow-y: scroll;
			scrollbar-color: #c4c4c4 #e4e4e4;
			scrollbar-width: thin;
			max-height: 40vh;
		}

		.new-transaction {
			grid-column: 1 / 1;
			grid-row: 4 / 4;
			padding: 5px;
			margin: 0 1.7rem;
			max-height: 50vh;

			.btn-new {
				cursor: pointer;
				background-color: $color-btn;
				box-shadow: $base-shadow;
				color: #fff;
				border: 0;
				display: block;
				font-size: 1.34rem;
				margin: 10px 0 30px;
				padding: 10px;
				width: 100%;
			}

			.btn-new:hover {
				background-color: $color-btn-hover;
			}
		}

		.goal {
			grid-column: 1 / 1;
			grid-row: 2 / 2;
			padding: 1.25rem;
			background-color: #fff;
			box-shadow: $base-shadow;
			max-height: 40vh;

			.goal-form {
				display: flex;
				flex-direction: row;
				align-items: flex-end;

				.btn-goal {
					cursor: pointer;
					background-color: $color-btn;
					box-shadow: $base-shadow;
					color: #fff;
					border: 0;
					display: block;
					font-size: 1.34rem;
					margin: 0 10px;
					padding: 10px;
					width: 20%;
				}

				.btn-goal:hover {
					background-color: $color-btn-hover;
				}
			}

			.goal-progress {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin: 2.5rem 0.85rem;

				.goal-info {
					display: flex;
					flex-direction: column;
				}

				.goal-info>div {
					padding: 10px 0;
				}

				.goal-info>div>span {
					font-weight: bold;
				}
			}
		}

		.currency {
			grid-column: 1 / 1;
			grid-row: 3 / 3;
			height: 25%;
			background-color: #fff;
			box-shadow: $base-shadow;
			padding: 1.6rem;
			margin: 1.6rem 0;
			display: flex;
			justify-content: space-between;
			border-top: 1px solid #dedede;
			max-height: 35vh;

			select {
				border-radius: 10%;
				width: 20%;
				padding: 5x;
			}
		}

		.form-control {
			margin: 0 5px;
		}

		label {
			display: inline-block;
		}

		input[type='text'],
		input[type='number'] {
			border: 1px solid #dedede;
			border-radius: 2px;
			display: block;
			font-size: 16px;
			padding: 10px;
			width: 100%;
		}

		.list {
			list-style-type: none;
			padding: 0;
			margin-bottom: 40px;
		}

		.list li {
			background-color: #fff;
			box-shadow: $base-shadow;
			color: #333;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			position: relative;
			text-align: center;
			padding: 10px;
			margin: 10px 0;
		}

		.list li.plus {
			border-right: 5px solid $color-green;
		}

		.list li.minus {
			border-right: 5px solid $color-red;
		}

		.delete-btn {
			display: flex;
			justify-self: right;
			width: 3vh;
			height: 3vh;
			cursor: pointer;
			border: 0;
			color: rgb(0, 0, 0);
			background-color: #fff;
			font-size: 1.6rem;
			line-height: 1.6em;
			padding: 2px 5px;
			position: relative;
			opacity: 1;
			transition: opacity 0.3s ease;

			.delete-icon {
				position: absolute;
				width: 2vh;
				height: 2vh;
				fill: rgb(0, 0, 0);
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		.delete-btn:hover .delete-icon {
			fill: $color-red;
		}
	}
}

@media only screen and (min-width: 850px) {

	html {
		font-size: 16px;
	}

	body {
		.container {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 1fr);
			margin: 1.6rem 1.6rem;

			.account {
				grid-column: 1 / 1;
				grid-row: 1 / 1;
				max-height: 50vh;
			}

			.history {
				grid-column: 3 / 3;
				grid-row: 1 / -1;
				overflow-y: scroll;
				scrollbar-color: #c4c4c4 #e4e4e4;
				scrollbar-width: thin;
				max-height: 100vh;
			}

			.new-transaction {
				grid-column: 2 / 2;
				grid-row: 1 / 1;
			}

			.goal {
				grid-column: 1 / 1;
				grid-row: 2 / 2;
			}

			.currency {
				grid-column: 2 / 2;
				grid-row: 2 / 2;
				margin: 0 20px;
			}

			.btn-new:focus,
			.btn-goal:focus,
			.delete-btn:focus {
				outline: 0;
			}
		}
	}
}