@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

$color-green: #2ecc71;
$color-red: #c0392b;
$color-btn: #9c88ff;
$color-btn-hover: #7465be;
$base-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
0 1px 2px rgba(0, 0, 0, 0.24);

* {
	box-sizing: border-box;
}

body {
	background-color: #f7f7f7;
	min-height: 100vh;
	margin: 0;
	font-family: 'Lato', sans-serif;

	h1 {
		letter-spacing: 1px;
		margin: 0;
	}

	h2 {
		margin: 20px;
	}

	h3 {
		border-bottom: 1px solid #bbb;
		padding-bottom: 10px;
		margin: 0 0 10px;
	}

	h4 {
		margin: 0;
		text-transform: uppercase;
	}

	.container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		margin: 30px 30px;

		.account {
			grid-column: 1 / 1;
			grid-row: 1 / 1;
		}

		.balance {
			background-color: #fff;
			box-shadow: $base-shadow;
			padding: 30px;
			text-align: center;
		}

		.inc-exp-container {
			background-color: #fff;
			box-shadow: $base-shadow;
			padding: 20px;
			display: flex;
			justify-content: space-between;
			border-top: 1px solid #dedede;

			.inc-exp-container>div {
				flex: 1;
				text-align: center;
			}

			.inc-exp-container>div:first-of-type {
				border-right: 1px solid #dedede;
			}

			.money {
				font-size: 20px;
				letter-spacing: 1px;
				margin: 5px 0;
			}

			.money.plus {
				color: $color-green;
			}

			.money.minus {
				color: $color-red;
			}
		}

		.history {
			grid-column: 3 / 3;
			grid-row: 1 / -1;
			padding: 5px;
			margin: 0 20px;
		}

		.new-transaction {
			grid-column: 2 / 2;
			grid-row: 1 / 1;
			padding: 5px;
			margin: 0 20px;

			.btn-new {
				cursor: pointer;
				background-color: $color-btn;
				box-shadow: $base-shadow;
				color: #fff;
				border: 0;
				display: block;
				font-size: 16px;
				margin: 10px 0 30px;
				padding: 10px;
				width: 100%;
			}

			.btn-new:hover {
				background-color: $color-btn-hover;
			}
		}

		.goal {
			grid-column: 1 / 1;
			grid-row: 2 / 2;
			padding: 15px;
			background-color: #fff;
			box-shadow: $base-shadow;

			.goal-form {
				display: flex;
				flex-direction: row;
				align-items: flex-end;

				.btn-goal {
					cursor: pointer;
					background-color: $color-btn;
					box-shadow: $base-shadow;
					color: #fff;
					border: 0;
					display: block;
					font-size: 16px;
					margin: 0 10px;
					padding: 10px;
					width: 20%;
				}

				.btn-goal:hover {
					background-color: $color-btn-hover;
				}
			}

			.goal-progress {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin: 30px 10px;

				.goal-info {
					display: flex;
					flex-direction: column;
				}

				.goal-info>div {
					padding: 10px 0;
				}

				.goal-info>div>span {
					font-weight: bold;
				}
			}
		}

		.form-control {
			margin: 0 5px;
		}

		label {
			display: inline-block;
			margin: 10px 0;
		}

		input[type='text'],
		input[type='number'] {
			border: 1px solid #dedede;
			border-radius: 2px;
			display: block;
			font-size: 16px;
			padding: 10px;
			width: 100%;
		}

		.btn-new:focus,
		.btn-goal:focus,
		.delete-btn:focus {
			outline: 0;
		}

		.list {
			list-style-type: none;
			padding: 0;
			margin-bottom: 40px;
		}

		.list li {
			background-color: #fff;
			box-shadow: $base-shadow;
			color: #333;
			display: flex;
			justify-content: space-between;
			position: relative;
			padding: 10px;
			margin: 10px 0;
		}

		.list li.plus {
			border-right: 5px solid $color-green;
		}

		.list li.minus {
			border-right: 5px solid $color-red;
		}

		.delete-btn {
			cursor: pointer;
			background-color: $color-red;
			border: 0;
			color: #fff;
			font-size: 20px;
			line-height: 20px;
			padding: 2px 5px;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(-100%, -50%);
			opacity: 0;
			transition: opacity 0.3s ease;
		}

		.list li:hover .delete-btn {
			opacity: 1;
		}
	}
}